PyYAML==3.11
awscli==1.6.6
bcdoc==0.12.2
botocore==0.77.0
colorama==0.2.5
cupshelpers==1.0
docutils==0.12
jmespath==0.5.0
pyasn1==0.1.7
pycups==1.9.68
pycurl==7.19.5
pygobject==3.14.0
python-dateutil==2.3
python-distutils-extra==2.38
pyxdg==0.25
requests==2.5.0
rsa==3.1.2
six==1.8.0
team==1.0
usb-creator==0.2.23
virtualenv==1.11.6
